{{#each teams}}
  <section class="ui segment">
    <h2 class="ui header">
      {{teamName}}
    </h2>
    <a href="/team/{{id}}">
      <i class="ui open folder icon"></i>
    </a>
    <a href="/dashboard/deleteteam/{{id}}">
      <i class="ui trash icon delteam"></i>
    </a>
  </section>
{{/each}}

<div class="ui centered cards">
  {{#each teams}}
    <div class="ui card">
      <div class="image">
        <img src="{{picture}}">
      </div>
      <div class="content">
        <a class="header">{{title}}</a>
      </div>
      <div class="extra content">
        <a href="/playlist/{{id}}" class="ui icon button">
          <i class="icon folder open"></i>
        </a>
        <a href="/dashboard/deleteplaylist/{{id}}" class="ui icon button delplaylist">
          <i class="icon trash"></i>
        </a>
      </div>
    </div>
  {{/each}}
</div>
