
<div class="ui centered cards">
  {{#each teams}}
    <div class="ui card">
      <div class="image">
        <img src="{{picture}}">
      </div>
      <div class="content">
        <a class="header" href="/team/{{id}}">{{uppercase teamName}}</a>
      </div>
      <div class="extra content">
        <a href="/team/{{id}}" class="ui icon button">
          <i class="icon folder open"></i>
        </a>
        <a href="/dashboard/deleteteam/{{id}}" class="ui icon button delteam">
          <i class="icon trash"></i>
        </a>
      </div>
    </div>
  {{/each}}
</div>
